@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Illusion';
  }

  @font-face {
    font-family: 'Illusion';
    line-height: 3rem;
    font-style: normal;
    src: url(fonts/IllusionSerif/IllusionSerif-Regular.ttf);
  }

  @font-face {
    font-family: 'Illusion';
    font-style: normal;
    font-weight: bold;
    src: url(fonts/IllusionSerif/IllusionSerif-Bold.ttf);
  }

  @font-face {
    font-family: 'Illusion';
    font-style: italic;
    src: url(fonts/IllusionSerif/IllusionSerif-Italic.ttf);
  }

  @font-face {
    font-family: 'Illusion';
    font-style: italic;
    font-weight: bold;
    src: url(fonts/IllusionSerif/IllusionSerif-BoldItalic.ttf);
  }

  
  
}

@layer components {
    .disable-blur{
        /* image-rendering: -webkit-optimize-contrast; */
        image-rendering: pixelated
      }
  }

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex;
    place-items: center; */
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem; */
  }
}
